@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #282828;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ebf0f7;
    --foreground: #252525;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'DM Sans';
}
